* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: arial;
}

header {
  width: 100%;
  height: 4em;
  background-color: black;
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
}

header h1 {
  margin: 0 1em;
  font-size: 22px;
}
header h2 {
  font-size: 16px;
  font-weight: normal;
}

main {
  display: inline-flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em;
}

label {
  display: block;
  margin-top: 1em;
}

.list {
  display: flex;
  flex-direction: column;
}

input {
  width: 20em;
}

textarea.raw-json {
  width: 80vw;
  height: 70vh;
}

.error {
  color: red;
}

.warning {
  color: orange;
}

.manifest-file {
  display: none;
}