body {
  font-family: arial;
}

main {
  display: inline-flex;
  flex-direction: column;
  gap: 1em;
}

label {
  display: block;
  margin-top: 1em;
}

.list {
  display: flex;
  flex-direction: column;
}

input {
  width: 20em;
}

textarea.raw-json {
  width: 80vw;
  height: 70vh;
}